:root {
  --bs-primary: #0d6efd;
  --app-accent: #ffb703;
}

body {
  background: #f8f9fa;
}

.cabecalho-site {
  background: var(--bs-primary);
  color: white;
  padding: 1rem;
}

.rodape-site {
  padding: 1rem;
  text-align: center;
  background: #e9ecef;
}
